.container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.item {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.padding {
  padding-top: 1rem;
  padding-left: 1rem;
}
